<configuration>
    <connectionStrings>   
        <add name="DbConnection" 
            connectionString="Data Source=10.0.0.27;database=EmployeeCodeFirst; Trusted_Connection=True; encrypt=True; trustservercertificate=True"
            providerName="System.Data.SqlClient"/> 
    </connectionStrings>
</configuration>